<div class="container">
    <h2>Les livres</h2>
    <a href="#" routerLink="/livres/create/" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>
    Nouveau livre
    </a>

<div>
    <p>liste des livres</p>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Couverture</th>
                <th>isbn</th>
                <th>Titre</th>
                <th>Annedition</th>
                <th>Prix</th>
                <th>Quanitité</th>
                <th>specialite</th>
                <th>maised</th>
                <th>auteurs</th>
                <th>Show</th>
                <th>Modifier</th>
                <th>supprimer</th>
                
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let pr of livres">
                    <td><img src={{pr.couverture}} alt="" width="70" height="70"></td>
                    <td>{{pr.isbn}}</td>
                    <td>{{pr.titre}}</td>
                    <td>{{pr.annedition}}</td>
                    <td>{{pr.prix}}</td>
                    <td>{{pr.qtestock}}</td>
                    <td>{{pr.specialite.nomspecialite}}</td>
                    <td>{{pr.maised.maisonedit}}</td>
                    <td>
                        <div *ngFor="let auteur of pr.auteurs">{{auteur.nomauteur}}</div>
                      </td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a href="#" [routerLink]="['/livres/', pr._id,'view']" class="btn btn-default"><i class="bi bi-info-square-fill"></i></a>
                        </div>
                    </td>
                    <td>
                        
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="#" [routerLink]="['/livres/', pr._id,'edit']" class="btn btn-warning"> <i class="bi bi-pencil-square" style="color:white"></i></a>
                        </div>
                    </td>
                    <td>
                        
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" (click)="deleteLivre(pr._id)" class="btn btn-danger"><i class="bi bi-trash-fill" style="color:white"></i></button>
                    </div>
                    
                    </td>
                </tr>
        </tbody>
    </table>
</div>
